.c-navoverzicht {
    height: 70px;
    background-color: transparent !important;
    &_link {
      margin: 1rem !important;
      transition: color 0.2s ease;
      &:hover {
        color: $color-light-gray !important;
      }
      &.active {
        font-weight: bold;
      }
    }
    &_logo {
      width: 12%;
      margin-right: 2rem;
    }
    &_avatar {
      width: 12%;
      border-radius: 0.2rem;
    }
    &_search {
      margin-right: 1rem;
    }
    &_fixed-wrapper {
      transition: background-color 0.5s ease;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: transparent;
      z-index: 1000;
    }
  }
  